
    .Homepage-banner
    {
        width: 100%;
        height: 100vh;
        background-image: url(backgroundtest.jpg);
        background-size: cover;
        background-position: center;
    
    
    }
    .Homepage-navbar{
        width:90%;
        margin:auto;
        padding:35px 0;
        display:flex;
        align-items: center;
        justify-content: space-between;
    }
   
    .Homepage-navbar h2
    {
        font-family: cursive;
        color: #8B0000;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bolder;
        font-size:xx-large;
        
      
    }  
    
    
    .Homepage-navbar-logo
    {
        display: inline-block;
        margin-left: 0px;
        padding-top: 50px;
        
      
    }
    .Homepage-navbar-links
    {
        display: inline-block;
        margin-left: 780px;
      
    }
    .Homepage-navbar
    {
       
       display:inline;
    }
    .Homepage-navbar ul li{
        list-style: none;
        display: inline-block;
        margin: 0 20px;
        position: relative;
        
        
    }
    .Homepage-navbar ul li a{
        text-decoration: none;
        color: black;
        display: inline-block;
        text-transform: uppercase;
        font-size:large;
        font-weight: bold;
    }
    .Homepage-navbar ul li::after{
        content:'';
        height:5px;
        width:100%;
        background: #ff652f;
        position:absolute;
        left:0;
        bottom: -10px;
        width: 0;
        transition: 0.5s;
    }
    .Homepage-navbar ul li:hover::after{
        
        width:100%;
        
    }
    .Homepage-content
    {
        width: 100%;
        display: block;
        position:absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        color: #8B0000;
        margin-right: 500px;
    
    
    }
    .Homepage-content h2{
        font-size: 70px;
        margin-top: 80px;
    
    }
    .Homepage-content p{
        margin: 20px;
        font-weight: 100;
        line-height: 25px;
        font-weight: bold;
        color: #51557E;
    }
    .Homepage-content .homepage-button button{
        width: 200px;
        padding: 10px 0;
        text-align: center;
        margin:20px 20px;
        border-radius: 25px;
        font-weight: bolder;
        font-size: x-large;
        border: 5px solid #8B0000;
        opacity: 100%;
        
        background: transparent;
        color: rgb(29, 2, 2);
        cursor: pointer;
        position: relative;
        overflow: hidden;
    
    }
.Homepage-content .homepage-button span{
        background: #009688;
        height: 100%;
        width:0;
        border-radius: 25px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        transition: 0.5s;
    
    
    
    }
    .Homepage-content .homepage-button button:hover span
    {
        width: 100%;
    }
    .Homepage-content .homepage-button button:hover{
        border: none;
    }